[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
mkdocs = "*"
mkdocs-include-dir-to-nav = "*"
mkdocs-pdf-export-plugin = "*"

[dev-packages]

[requires]
python_version = "3.12"
